{% extends 'base.twig' %}

{% block content %}

<h1> So you've forgotten your password? </h1>
<h2> Please input your username </h2>
{% if flash.errors %}
<ul>
    {% for error in flash.errors %}
        <li> {{ error|escape }} </li>
    {% endfor %}
</ul>
{% endif %}
<form action="" method="POST">
    <label>Username: </label>
    <input type="text" name="username"> <br />
    <input type="text" name="csrf" hidden value="{{ csrf }}">
    <input type="submit" name="submit" value="Submit">
</form>
{% endblock %}