{% extends 'base.twig' %}

{% block content %}

<h2>Login</h2>

{% if flash.errors %}
<ul>
    {% for error in flash.errors %}
        <li> {{ error|escape }}
    {% endfor %}
</ul>
{% endif %}
{{ flash.success|escape }}
<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user"> <br />
<label>Password: </label>
<input type="password" name="pass"> <br />
<input type="text" name="csrf" hidden value="{{ csrf }}">
<input type="submit" name="submit" value="Log in">
</form>
    <a href="/forgot">Forgot password</a>
{% endblock %}
