{% extends 'base.twig' %}

{% block content %}

<h2>New user</h2>

<b>{{ flash.info|escape}}</b> <br />
{% if flash.errors %}
<ul>
    {% for error in flash.errors %}
        <li> {{ error|escape }}
    {% endfor %}
</ul>
{% endif %}

<form action="" method="POST">

    <label>Username: </label>
    <input type="text" name="user" value="{{ username|escape }}"> <br />
    <label>Password: </label>
    <input type="password" name="pass"> <br />
    <label>Full Name (Will not be visible for other users)</label>
    <input type="text" name = "fullname"><br/>
    <label>Address (Will not be visible for other users)</label>
    <input type ="text" name = "address"><br/>
    <label> Postcode (Only four digits please)</label>
    <input type = "text" name = "postcode"><br/>
    <input type="text" name="csrf" hidden value="{{ csrf }}">
    <input type="submit" name="submit" value="Create new user"> <br/>

</form>
{% endblock %}
