
body {
    background-color: #000000;
    line-height: 1.5em;
    margin: 0;
    color: #66FF00;
}

a:link {
      color: #66FF00;
        text-decoration: none;
}

a:visited {
      color: #33FF00;
}

a:hover {
      text-decoration: underline;
}

a:active {
    background-color: black;
    color: white;
}

#logo {
    background-color: #000000;
    text-align: center;
}

#logo img {
    width: 220px;
    vertical-align: middle;
}

#container {
    background-color: #2C2C2C;
    padding: 1em;
}

#navbar {
    float: left;
    height: 500px;
}

#content {
    min-height: 200px;
    max-width: 700px;
    margin: 0 auto 2em;
}

textarea, input{
    background-color: #2C2C2C;
    color: #66FF00;
    border: 1px solid #66FF00;;
}

input:focus {
    border: 2px solid #414141;
}

label {
    display: inline-block;
    width:300px;
    text-align: right;
}

.moviebox {
    width: 150px;
    height: 280px;
    margin-left: 10px;
    float: left;
}

.review {
    border: 1px solid gray;
    margin: 10px;
}
